@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', monospace;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling of the full page */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh; /* Ensure the container takes full viewport height */
    overflow: hidden; /* Prevent the container from scrolling */
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.search-form {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.search-input {
    font-size: 14px;
    text-align: center;
    width: 75%;
    height: 40px;
    padding: 10px 15px;
    border: none;
    border-bottom: 0.5px solid #000;
    margin-right: 10px;
}

.search-button {
    font-size: 12px;
    width: 15%;
    min-width: 60px;
    height: 40px;
    padding: 12px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #333;
    color: #ddd;
}

#searchResults {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow: auto; /* Allow scrolling of the search results */
}

.loading,
.error,
.no-results {
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}

.result-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 20px;
    border-radius: 4px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
}

.result-item img {
    padding: 10px;
    width: 160px;
    height: 160px;
    object-fit: scale-down;
    flex: 0 0 auto;
}

.result-item .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-right: 20px;
}

.result-item .title {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    word-wrap: break-word;
    min-height: 2em; /* Ensure two lines even if there's not enough content */
}

.result-item .brand,
.result-item .rating,
.result-item .price,
.result-item .link {
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
}

.result-item .link {
    margin-top: 5px;
}

.result-item .link a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.result-item .link a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .result-item {
        flex-direction: column;
        align-items: start;
        min-height: auto;
    }

    .result-item img {
        width: 80%;
        height: auto;
    }

    .result-item .details,
    .result-item .price {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .search-form, #searchResults {
        width: 95%;
        margin: 10px auto;
    }
}

.global-header {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-decoration: underline;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
}

.global-header .logo img {
    height: 60px;
    width: auto;
    margin: 5px;
}

.global-footer {
    font-size: 8px;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.footer-nav a {
    text-decoration: underline;
    color: #333;
    font-size: 12px;
    margin: 10px;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

button.active {
    background-color: #007bff;
    color: white;
}

button:not(.active) {
    background-color: #f8f9fa;
    color: #007bff;
}

.results-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Faint border around the search columns */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Optional: faint shadow for better visibility */
}

.column {
    flex: 1;
    overflow-y: auto;
    max-height: 80vh;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Faint border for individual search columns */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); /* Optional: faint shadow for better visibility */
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .results-container {
        flex-direction: column;
    }
}
